<table class='table'>
{% for x in data%}
<tr>
  <td>{{x.date}}</td>
  <td>
    <a href='{{x.url_to_ad}}' target=_blank title=''>{{x.title}}</a>
    </br>
    {{x.short_desc}}
  </td>
</tr>
{% endfor %}
</table>
