{% load bootstrap3 %}

<div class="exchange_title">
  <h2 class="url"><a href='{{exchange.url}}' target=_blank>{{exchange.url}}</a></h2>(update: 5min)
  <a href='{{ exchange.url_to_start_grab }}' target=_blank>grab url</a>
  <a href='#' onclick='jQuery(this).parent().next(".exchange_ads").toggle()'>show/hide</a>
  <span class="self_profile" style="float: right"><a href='{{exchange.url_to_profile}}' target=_blank>Профиль</a></span>
</div>
<div class="exchange_ads">
  
</div>


