{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %}Freelance Dahsboard{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div id="weblancer"></div>
    <div id="fr"></div>
    <div id="fl"></div>
{% endblock %}

{% block bootstrap3_extra_script %}
   <script src="static/js/ad.js">
   <script>
   </script>
{% endblock %}
